.price-tag {
	border-bottom: 1px solid #d9d9d9;
}

.property-price {
	font-size: 2em;
}

.propertydetail {
	border-bottom: 1px solid #d9d9d9;
}

.feature-proprety-title {
	font-size: 2em;
}

/* Small devices (portait phones, 576px and up) */
@media (max-width: 575.98px) {

	.feature-proprety-title {
		font-size: 1.5em;
	}

}

.contact-person {
 	font-size: 18px;
}

.price {

}

.currency {
	float: left;
	color: #333f48;;
}

.property-title {
{

}

.contact-method ul {
	text-decoration: none;
	display: inline;
}