.mh-jumbotron-pic {
	width: auto;
	height: 650px;
	background: url(../../images/theme-picture.jpg) no-repeat center; 
}

.history {
	float: right;
	height: 650px; 
	width: 400px;
	color: #fff;
	font-size: 28px;
	background-color: rgba(236, 29, 35, 0.4);
}


/* Small devices (Protrait phones, 576px and up) */
@media only screen and (max-width: 575.98px) {

	.mh-jumbotron-pic {
		display: none;
	}


}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 767.98px) { 

	.mh-jumbotron-pic {
		width: auto;
		height: 300px;
		background: url(../../images/theme-picture.jpg) no-repeat center; 
	}

	.history {
		height: 300px; 
		width: 400px;
		background-color: rgba(236, 29, 35, 0.4);
	}

}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 991.98px) {

	.mh-jumbotron-pic {
		width: auto;

		background: url(../../images/theme-picture.jpg) no-repeat center; 
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1199.98px) {

	.mh-jumbotron-pic {
		width: auto;
		
		background: url(../../images/theme-picture.jpg) no-repeat center; 
	}	

}